.generateBtnContainer {
  display: flex;
  position: fixed;
  right: 0;
  margin-top: 2rem;
  margin-right: 2rem;
}

.generateBtnContainer button {
  background: #ff851b;
  color: white;
  border-color: transparent;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: all 0.3s;
}

.generateBtnContainer button:hover {
  background: rgba(255, 166, 0, 0.705);
}
