* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.app-section {
  background: url("./assets/images/login-bg-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
  font-family: sans-serif;
  height: 100vh;
}
