/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 166, 0, 0.479);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange;
}

.profile-container {
  display: flex;
  justify-content: center;
  padding: 2rem 2rem 8rem 2rem;
  height: 50vh;
  background: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 0px 0px 6px 6px;
  max-height: 50vh;
  overflow-y: scroll !important;
  overflow-x: scroll;
}

.profile-form {
  width: 40%;
  margin: 0 5rem;
}

.profile-form-row {
  display: grid;
  align-items: center;
  padding: 0.25rem auto;
  margin: 1.5rem 0rem;
  grid-template-columns: 1fr 1.5fr;
}

.password-row {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.password-row p {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #36454fce;
  color: white;
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
  margin-left: auto;
  font-size: 13px;
  transition: all 0.3s;
}

.password-row p:hover {
  background: #36454f;
}

.password-row svg {
  margin-left: 0.25rem;
}

.profile-form-row label {
  margin-right: 2rem;
  padding: 0.25rem auto;
  /* background: #36454f; */
}

.profile-form-row input {
  background: transparent;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-color: transparent;
  border-radius: 6px;
  padding: 0.5rem;
  color: #36454f;
  font-weight: 600;
  font-size: 13px;
}

.pw-alert {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.is-valid {
  visibility: hidden;
}

.pw-alert-prompt {
  background-color: #ffe9e9;
  padding: 0.25rem 0.5rem;
  color: #b41d1d;
  border: 1px solid #b41d1d;
  border-radius: 6px;
  font-size: 13px;
}

.passwordStrengthBar > div > div {
  height: 5px !important;
}

.btn-container {
  display: flex;
  margin-top: 2.5rem;
  justify-content: flex-end;
}

.btn-container button {
  padding: 0.5rem 1.25rem;
}

.save-btn {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  background: orange;
  border-color: transparent;
  border-radius: 6px;
  color: white;
  outline: none;
  font-size: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s;
}

.save-btn svg {
  margin-left: 0.5rem;
  font-size: 15px;
}

.save-btn:hover {
  background: rgba(255, 166, 0, 0.705);
}

.cancel-btn {
  background: #36454fce;
  border-color: transparent;
  border-radius: 6px;
  color: white;
  outline: none;
  font-size: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s;
}

.cancel-btn:hover {
  background: #36454f;
}

.bg-container {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: flex-end;
}

.bg-container img {
  width: 100%;
}

/* profile page */

.profile-intro-row {
  display: flex;
  align-items: center;
}

.profile-heading {
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.profile-box {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.profile-box-icon {
  display: flex;
  padding: 0.35rem;
  background: rgba(255, 166, 0, 0.39);
  margin-right: 1rem;
  border-radius: 20px;
  border: 1px solid orange;
}

.profile-box svg {
  font-size: 15px;
  color: orange;
}

.profile-box p {
  font-size: 15px;
}

.profile-sub-container {
  display: flex;
  margin-top: 2rem;
}
