.user-heading {
  display: flex;
  letter-spacing: 2px;
}

.user-heading h2 {
  padding: 0.5rem 0rem;
  font-size: 20px;
  margin-bottom: 2rem;
}

.tabs {
  display: flex;
  margin-top: 0rem;
  background: #36454f;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 6px 6px 0px 0px;
  padding: 0.5rem;
}

.tab-item {
  display: flex;
  padding: 0.75rem 2rem;
  color: white;
  border-radius: 6px;
  margin: 0.25rem 0.5rem;
  transition: all 0.3s;
}

.tab-item:hover {
  background: rgba(0, 0, 0, 0.3);
}

.tab-item:hover > .tab-icon {
  color: orange;
}

.active > .tab-icon {
  color: rgba(255, 198, 76, 0.87);
}

.tab-icon {
  /* display: flex; */
  margin-right: 0.75rem;
  font-size: 18px;
}

.is-active {
  background: rgba(0, 0, 0, 0.3);
}
