body {
  background: url("./assets/images/login-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
  font-family: sans-serif;
}

.section {
  display: grid;
  position: fixed;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  margin-left: 10vw;
}
